In [2]:
import random
import json
import asyncio

import pandas as pd
from collections import defaultdict
from datasets import load_dataset
from tqdm.asyncio import tqdm_asyncio
import pickle

from predictors import *
from llm import *
from prompts import *
from tools import *
from evaluations import *

BIG_MODEL = "gpt-4.1"
MEDIUM_MODEL = "gpt-4.1-mini"
SMALL_MODEL = "gpt-4.1-nano"

MODELS = [SMALL_MODEL, MEDIUM_MODEL, BIG_MODEL]

In [ ]:
dataset = load_dataset("gsm8k", "main")

In [3]:
dataset2 = load_dataset("allenai/math_qa")

README.md:   0%|          | 0.00/7.44k [00:00<?, ?B/s]

math_qa.py:   0%|          | 0.00/3.25k [00:00<?, ?B/s]

The repository for allenai/math_qa contains custom code which must be executed to correctly load the dataset. You can inspect the repository content at https://hf.co/datasets/allenai/math_qa.
You can avoid this prompt in future by passing the argument `trust_remote_code=True`.

Do you wish to run the custom code? [y/N]  y

Downloading data:   0%|          | 0.00/7.30M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/29837 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/2985 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/4475 [00:00<?, ? examples/s]

In [5]:
dataset2['train']

Dataset({
    features: ['Problem', 'Rationale', 'options', 'correct', 'annotated_formula', 'linear_formula', 'category'],
    num_rows: 29837
})

In [7]:
dataset2['train'][0]['Problem']

"the banker ' s gain of a certain sum due 3 years hence at 10 % per annum is rs . 36 . what is the present worth ?"

In [14]:
dataset2['train'][0]['options']

'a ) rs . 400 , b ) rs . 300 , c ) rs . 500 , d ) rs . 350 , e ) none of these'

In [6]:
training, validation = build_datasets(dataset, len(dataset['train']), 0.7)

In [3]:
training, validation = build_datasets(dataset, 1000, 0.7)

In [7]:
ds = {
    'train': training,
    'valid': validation,
}

In [10]:
all_results = []
for ds_name in ds.keys():
    for model in [SMALL_MODEL, MEDIUM_MODEL, BIG_MODEL]:
        cfg = configure(model, 'predict_naive')
        results = await evaluate(ds[ds_name], *cfg, max_concurrent_requests=10)
        
        results['metrics'] = calculate_pass_rate(results['results'])
        results['model'] = model
        results['dataset'] = ds_name
        all_results.append(results.copy())

  1%|▎                                        | 43/5231 [00:02<03:30, 24.63it/s]

Exception: invalid literal for int() with base 10: "- Liam's total savings over 2 years"

  3%|█▎                                      | 173/5231 [00:08<03:31, 23.89it/s]

Exception: invalid literal for int() with base 10: '2985 - (2985/3 + 2985/3 - 177)'

  4%|█▌                                      | 212/5231 [00:09<03:58, 21.00it/s]

Exception: invalid literal for int() with base 10: '174 minutes'

  7%|██▊                                     | 362/5231 [00:16<02:59, 27.14it/s]

Exception: invalid literal for int() with base 10: ' 20  \n20 * 0'

 10%|███▉                                    | 507/5231 [00:23<03:59, 19.72it/s]

Exception: invalid literal for int() with base 10: '5200 - 4640'

 16%|██████▍                                 | 848/5231 [00:38<02:34, 28.29it/s]

Exception: invalid literal for int() with base 10: '100 + 300 + 410'

 21%|████████▏                              | 1090/5231 [00:48<03:14, 21.30it/s]

Exception: invalid literal for int() with base 10: " 881\n\nConner's total after day two"

 22%|████████▌                              | 1143/5231 [00:51<03:12, 21.25it/s]

Exception: invalid literal for int() with base 10: '840 meters'

 23%|████████▉                              | 1198/5231 [00:54<03:30, 19.19it/s]

Exception: invalid literal for int() with base 10: '£12'

 25%|█████████▌                             | 1287/5231 [00:59<03:43, 17.65it/s]

Exception: invalid literal for int() with base 10: ' 144 (total apples initially)\n\nSusan gave out half'

 25%|█████████▋                             | 1302/5231 [00:59<02:59, 21.87it/s]

Exception: invalid literal for int() with base 10: '- Total tickets'

 32%|████████████▋                          | 1694/5231 [01:17<02:58, 19.80it/s]

Exception: invalid literal for int() with base 10: '2 p'

 33%|█████████████                          | 1745/5231 [01:20<02:46, 20.93it/s]

Exception: invalid literal for int() with base 10: '100 * 0'

 41%|████████████████▏                      | 2164/5231 [01:39<02:33, 20.04it/s]

Exception: invalid literal for int() with base 10: '220 210'

 43%|████████████████▋                      | 2240/5231 [01:43<02:31, 19.74it/s]

Exception: invalid literal for int() with base 10: '250 days'

 45%|█████████████████▍                     | 2337/5231 [01:47<02:12, 21.84it/s]

Exception: invalid literal for int() with base 10: ' 3 pizzas'

 49%|███████████████████▎                   | 2588/5231 [02:00<02:46, 15.87it/s]

Exception: invalid literal for int() with base 10: '- Cost of latte per day'

 50%|███████████████████▎                   | 2595/5231 [02:00<01:53, 23.15it/s]

Exception: invalid literal for int() with base 10: '7 * 0'

 54%|█████████████████████                  | 2825/5231 [02:11<01:52, 21.42it/s]

Exception: invalid literal for int() with base 10: '- Weasels'

 57%|██████████████████████▏                | 2969/5231 [02:18<01:47, 21.10it/s]

Exception: invalid literal for int() with base 10: '1/3'

 60%|███████████████████████▍               | 3152/5231 [02:27<01:44, 19.87it/s]

Exception: invalid literal for int() with base 10: ' 30 (candy bars sold on the 6th day)  \nSequence'

 62%|████████████████████████▏              | 3249/5231 [02:32<01:42, 19.30it/s]

Exception: invalid literal for int() with base 10: '- Cookies'

 65%|█████████████████████████▏             | 3378/5231 [02:39<01:31, 20.23it/s]

Exception: invalid literal for int() with base 10: '20 * 1'

 66%|█████████████████████████▋             | 3447/5231 [02:42<01:56, 15.32it/s]

Exception: invalid literal for int() with base 10: '- Total money from trees'

 66%|█████████████████████████▉             | 3471/5231 [02:44<01:40, 17.50it/s]

Exception: invalid literal for int() with base 10: '3000 + 17 + (2 * M + 10)'

 71%|███████████████████████████▌           | 3692/5231 [02:55<01:17, 19.75it/s]

Exception: invalid literal for int() with base 10: '€72'

 72%|████████████████████████████           | 3767/5231 [02:59<01:16, 19.16it/s]

Exception: invalid literal for int() with base 10: '- Week 1'

 74%|█████████████████████████████          | 3892/5231 [03:06<01:08, 19.44it/s]

Exception: invalid literal for int() with base 10: '- Total contribution from students'

 83%|████████████████████████████████▍      | 4345/5231 [03:26<00:40, 21.73it/s]

Exception: invalid literal for int() with base 10: 'June has 30 days with 8 weekend days so 22 weekdays'

 87%|██████████████████████████████████     | 4577/5231 [03:38<00:30, 21.36it/s]

Exception: invalid literal for int() with base 10: '19 * 1 + 11 * 0'

 92%|███████████████████████████████████▉   | 4813/5231 [03:49<00:20, 20.42it/s]

Exception: invalid literal for int() with base 10: '- Cost of dolls'

 95%|█████████████████████████████████████▏ | 4989/5231 [03:58<00:14, 17.01it/s]

Exception: invalid literal for int() with base 10: '- Athletes leaving'

 96%|█████████████████████████████████████▍ | 5024/5231 [04:00<00:10, 20.34it/s]

Exception: invalid literal for int() with base 10: '\\30'

 97%|█████████████████████████████████████▊ | 5065/5231 [04:02<00:07, 21.13it/s]

Exception: invalid literal for int() with base 10: '143 + 25 + (7 + 7)'

 97%|█████████████████████████████████████▉ | 5088/5231 [04:03<00:06, 22.49it/s]

Exception: invalid literal for int() with base 10: '4 million'

 98%|██████████████████████████████████████▏| 5128/5231 [04:05<00:05, 17.65it/s]

Exception: invalid literal for int() with base 10: '\\15'

100%|███████████████████████████████████████| 5231/5231 [04:10<00:00, 20.86it/s]
  1%|▎                                        | 47/5231 [00:02<04:40, 18.45it/s]

Exception: invalid literal for int() with base 10: '200 seconds'

  9%|███▌                                    | 474/5231 [00:26<04:50, 16.38it/s]

Exception: invalid literal for int() with base 10: '400 minutes'

 25%|█████████▋                             | 1296/5231 [02:11<03:15, 20.15it/s]

Exception: invalid literal for int() with base 10: '68 bolts and 39 nuts'

 28%|███████████                            | 1482/5231 [02:21<03:45, 16.65it/s]

Exception: invalid literal for int() with base 10: '720/20'

 38%|██████████████▊                        | 1990/5231 [02:51<02:56, 18.32it/s]

Exception: invalid literal for int() with base 10: '11/12'

 47%|██████████████████▍                    | 2467/5231 [03:17<02:35, 17.75it/s]

Exception: invalid literal for int() with base 10: '11\n\nExplanation'

 52%|████████████████████▎                  | 2721/5231 [03:32<02:35, 16.12it/s]

Exception: invalid literal for int() with base 10: '5 hours'

 65%|█████████████████████████▍             | 3416/5231 [04:15<01:56, 15.57it/s]

Exception: invalid literal for int() with base 10: '434 ounces'

 79%|██████████████████████████████▊        | 4140/5231 [04:57<01:02, 17.44it/s]

Exception: invalid literal for int() with base 10: '11 10'

 88%|██████████████████████████████████▏    | 4582/5231 [05:23<00:36, 17.85it/s]

Exception: invalid literal for int() with base 10: '121\n\nExplanation'

100%|███████████████████████████████████████| 5231/5231 [06:01<00:00, 14.49it/s]
 24%|█████████▍                             | 1263/5231 [01:17<03:25, 19.27it/s]

Exception: invalid literal for int() with base 10: '£11'

 53%|████████████████████▊                  | 2796/5231 [02:54<02:14, 18.04it/s]

Exception: invalid literal for int() with base 10: '600 1200 1000'

 78%|██████████████████████████████▍        | 4079/5231 [04:15<01:16, 15.04it/s]

Exception: invalid literal for int() with base 10: '11/24'

 78%|██████████████████████████████▌        | 4097/5231 [04:16<01:00, 18.68it/s]

Exception: invalid literal for int() with base 10: '15%'

 93%|████████████████████████████████████▍  | 4890/5231 [05:07<00:21, 15.72it/s]

Exception: invalid literal for int() with base 10: 'William by 2 books'

 94%|████████████████████████████████████▌  | 4898/5231 [05:07<00:20, 16.50it/s]

Exception: invalid literal for int() with base 10: ' ninety-one'

100%|███████████████████████████████████████| 5231/5231 [05:29<00:00, 15.88it/s]
 15%|██████▏                                 | 346/2242 [00:17<01:11, 26.53it/s]

Exception: invalid literal for int() with base 10: '55%'

 18%|███████▏                                | 406/2242 [00:20<01:36, 18.95it/s]

Exception: invalid literal for int() with base 10: '(7'

 24%|█████████▊                              | 547/2242 [00:27<01:48, 15.61it/s]

Exception: invalid literal for int() with base 10: 'orn 3 miles/day for 3 years (from age 13 to 16)'

 40%|███████████████▉                        | 896/2242 [00:43<00:59, 22.56it/s]

Exception: invalid literal for int() with base 10: ' 4 dollars'

 43%|█████████████████▎                      | 967/2242 [00:46<00:48, 26.38it/s]

Exception: invalid literal for int() with base 10: '- In the morning she sells 3 dozen cookies'
Exception: invalid literal for int() with base 10: '6 pm'

 55%|█████████████████████▎                 | 1223/2242 [00:58<00:47, 21.39it/s]

Exception: invalid literal for int() with base 10: '3/12'

 55%|█████████████████████▌                 | 1242/2242 [01:00<00:56, 17.60it/s]

Exception: invalid literal for int() with base 10: '30%'

 59%|██████████████████████▊                | 1314/2242 [01:03<00:55, 16.79it/s]

Exception: invalid literal for int() with base 10: '83 - (27 + 37)'

 66%|█████████████████████████▌             | 1473/2242 [01:12<00:43, 17.68it/s]

Exception: invalid literal for int() with base 10: '24 * 0'

 74%|████████████████████████████▊          | 1659/2242 [01:22<00:33, 17.44it/s]

Exception: invalid literal for int() with base 10: "- Puppies' total weight"

 80%|███████████████████████████████▎       | 1800/2242 [01:30<00:22, 19.28it/s]

Exception: invalid literal for int() with base 10: '150 + (2 * uncle) + 10 + (mum - 5) + 6 + (uncle + 1)'

 84%|████████████████████████████████▋      | 1882/2242 [01:34<00:16, 21.47it/s]

Exception: invalid literal for int() with base 10: '26 + (3 * 26) + (0'

 90%|██████████████████████████████████▉    | 2010/2242 [01:41<00:09, 23.94it/s]

Exception: invalid literal for int() with base 10: '174 square feet'

100%|███████████████████████████████████████| 2242/2242 [01:54<00:00, 19.58it/s]
 12%|████▊                                   | 272/2242 [00:16<01:38, 19.96it/s]

Exception: invalid literal for int() with base 10: '95%'

 21%|████████▌                               | 482/2242 [00:31<01:32, 18.96it/s]

Exception: invalid literal for int() with base 10: '17%'

 47%|██████████████████▍                    | 1063/2242 [01:12<01:22, 14.23it/s]

Exception: invalid literal for int() with base 10: '7 pm'

 50%|███████████████████▋                   | 1132/2242 [01:16<01:21, 13.69it/s]

Exception: invalid literal for int() with base 10: '14\n\nExplanation'

 56%|█████████████████████▊                 | 1257/2242 [01:24<01:00, 16.28it/s]

Exception: invalid literal for int() with base 10: '20%'

100%|███████████████████████████████████████| 2242/2242 [02:33<00:00, 14.61it/s]
 21%|████████▏                               | 461/2242 [00:32<01:33, 18.97it/s]

Exception: invalid literal for int() with base 10: '90%'

 45%|█████████████████▍                     | 1005/2242 [01:09<01:07, 18.34it/s]

Exception: invalid literal for int() with base 10: '7 pm'

 66%|█████████████████████████▌             | 1469/2242 [01:39<00:48, 15.93it/s]

Exception: invalid literal for int() with base 10: '17%'

 72%|████████████████████████████▏          | 1623/2242 [01:49<00:39, 15.71it/s]

Exception: invalid literal for int() with base 10: '95%'

100%|███████████████████████████████████████| 2242/2242 [02:28<00:00, 15.08it/s]

In [14]:
rows = [
    {
        **r['metrics'],
        'model': r['model'],
        'dataset': r['dataset']
    }
    for r in all_results
]

df_metrics = pd.DataFrame(rows)
df_metrics

   pass_rate  format_error_rate  api_error_rate         model dataset
0  27.738482           0.688205             0.0  gpt-4.1-nano   train
1  47.505257           0.191168             0.0  gpt-4.1-mini   train
2  56.012235           0.114701             0.0       gpt-4.1   train
3  26.494202           0.624442             0.0  gpt-4.1-nano   valid
4  46.833185           0.223015             0.0  gpt-4.1-mini   valid
5  57.270294           0.178412             0.0       gpt-4.1   valid

In [16]:
with open('./data/all_results_full_naive.pkl', 'wb') as f:
    pickle.dump(all_results, f)

In [ ]:
with open('./data/all_results_full_naive.pkl', 'rb') as f:
    all_results = pickle.load(f)

In [18]:
rows = defaultdict(dict)
for r in all_results:
    ds_name = r['dataset']
    model_name = r['model']

    for item in r['results']:
        question = item['question']
        result = item['pass']
        rows[question]['dataset'] = ds_name
        rows[question][model_name] = result

In [22]:
results_df = pd.DataFrame([
    (question, rows[question]['dataset'], 
        *[rows[question][model] for model in MODELS])
    for question in rows.keys()],
    columns=['question', 'dataset', *MODELS]
)
results_df

,question,dataset,gpt-4.1-nano,gpt-4.1-mini,gpt-4.1
0,Luke is planning a trip to London and wants to...,train,False,False,False
1,5/8 of shoppers at All Goods Available store p...,train,False,True,True
2,"Rhonda, Sally, and Diane are members of their ...",train,False,False,False
3,Jim and his Cousin are out at a restaurant. Th...,train,False,False,False
4,"Snap, Crackle, and Pop spend $150 on cereal in...",train,False,False,True
...,...,...,...,...,...
7468,Cynthia harvested 67 potatoes from her garden....,valid,False,False,False
7469,James works for 240 minutes. He takes a water ...,valid,False,True,True
7470,A school bus traveled for 42 minutes at a spee...,valid,True,True,True
7471,Barney can perform 45 sit-ups in one minute. C...,valid,False,False,False
7472,"Two hedgehogs found three baskets, each with 9...",valid,False,False,False

In [23]:
results_df.to_csv('./data/dataset_train.csv', index=False)